<link rel="stylesheet" href="./../../assets/css/base.css" />
<link rel="stylesheet" href="./../../assets/css/base.css" />
<link rel="stylesheet" href="./header.css" />

<div id="main">
  <!-- <img src="/assets/img/animal/01.JPG" alt=""> -->

  <ul class="title">
    <li class="title_li">
      <a href="">关于我们</a>
      <ul class="title_ul">
        <li><a href="">动物中心</a></li>
        <li><a href="">就业</a></li>
        <li><a href="">常见问题</a></li>
        <li><a href="">联系我们</a></li>
      </ul>
    </li>
    <li class="title_li">
      <a href="">服务</a>
      <ul class="title_ul">
        <li><a href="">动物收养</a></li>
        <li><a href="../../pages/prepare/prepare.html">应急准备</a></li>
        <li><a href="">倡导</a></li>
      </ul>
    </li>
    <li><a href="">志愿者</a></li>
    <li><a href="">博客</a></li>
  </ul>
</div>
