<link rel="stylesheet" href="./components/header/header.css" />
<script src="./components/header/header.js"></script>

<div>
    <a href="">
      <img src="/assets/img/animal/01.JPG" alt="">
    </a>
          
    <div >
      <ul>
        <li class="title">
          <a href="">关于我们</a>
          <ul class="pull-down">
            <li><a href="">动物中心</a></li>
            <li><a href="">就业</a></li>
            <li><a href="">常见问题</a></li>
            <li><a href="">联系我们</a></li>
          </ul>
        </li>
        <li class="title">
          <a href="">服务</a>
          <ul class="pull-down">
            <li><a href="">动物收养</a></li>
            <li><a href="">应急准备</a></li>
            <li><a href="">倡导</a></li>
          </ul>
        </li>
        <a href=""></a>
        <li><a href="">志愿者</a></li>
        <li><a href="">博客</a></li>
      </ul>
    </div>
</div>
