#header{
  margin: 0 auto;

  >div{
    justify-content: space-between;
    display: flex;

    .title:hover{
      .pull-down{
        display: block;
        // visibility: visible;
      }
    }

    a{
      img{
        height: var(--header-height);
        width: 300px;
      };
    }
    
    >div{
      display: flex;
      float: right;
      margin-right: 50px;
      user-select: none;

      ul{
        li{
          float: left;
          width: 150px;
          height: var(--header-height);
          text-align: center;
          line-height: var(--header-height);
          

          a{
            color: white;
            font-weight: bold;
            font-size: 20px;
            display: block;
          }

          a:hover{
            background-color: #09af13;
          }


          ul{
            display: none;
        //     visibility: hidden;
        // transition: all 1s;



            li{
              background-color: var( --color-primary);
              box-shadow: 0px 1px 2px #666;
              border-top: 1px solid #ccc;

              a{
                color: black;
              }
            }         
          }
        }
        
      }
    }
  }
}