
<link rel="stylesheet" href="./components/header/header.css" />
<script src="./components/header/header.js"></script>

<div class="nbar">
  <div>
    <div class="nbar-left">
      <a href="./"><span>大可爱领养中心</span></a>
    </div>
    <div class="nbar-right">
      <a href="">
        <img src="./assets/img/logo/email.svg" alt="" />
      </a>
      <ul class="nr-bottom">
        <li id="who1">
          <a href="?page=animalcenter">我们是谁</a>
          <ul class="who">
            <li>
              <a href="?page=animalcenter">动物中心地点</a>
            </li>
            <li><a href="?page=job">就业</a></li>
            <li><a href="?page=question">常见问题</a></li>
            <li><a href="?page=contact">联系我们</a></li>
          </ul>
        </li>
        <li id="server1">
          <a href="?page=prepare">我们的服务</a>
          <ul class="server">
            <!-- <li><a href="./pages/animalcenter/.html">动物收养</a></li> -->
            <li><a href="?page=prepare">应急准备</a></li>
            <li><a href="?page=propose">倡导</a></li>
          </ul>
        </li>
        <li><a href="?page=volunteer">志愿者</a></li>
        <li><a href="?page=blog">博客</a></li>
      </ul>
    </div>
  </div>

</div>
