.nav {
  background: url(./../../assets/img/navimg/nav-prepare.jpg) no-repeat;

  height: 350px;
  background-size: 100%;
}
#main {
  position: relative;

  > .top {
    position: absolute;

    top: -80px;
    transform: translate(-50%);
    left: 50%;
    width: var(--container-width);
    color: white;
    text-shadow: 2px 2px 1px #333;

  }
  > .crumbs {
    width: var(--container-width);
    position: relative;
    transform: translate(-50%);
    left: 50%;
    margin: 10px 0 20px;
    overflow: auto;
    p{
      color: #aaa;
    font-size: 14px;
    }
    a{
    color: #aaa;
    font-size: 14px;
    &:hover{
      text-decoration: underline;
    }
    }
 
  }
  > .container {
    width: var(--container-width);
    position: relative;
    transform: translate(-50%);
    left: 50%;
    margin: 20px 0;
    overflow: auto;

    p {
      padding: 0 10px;
    }

    > div:first-child {
      h2 {
        color: var(--color-primary);
      }
      h3 {
        color: var(--color-primary);
      }
    }
    > .list {
      h3 {
        color: var(--color-primary);
        border-bottom: 2px solid #0fcf80;
        padding-bottom: 8px;
      }
      > div {
        background-color: #f6f6f6;
        margin-top: 10px;
        border-radius: 5px;
        padding: 5px 5px;
      }
    }
  }
}
