#main {
    > .top {
      position: relative;
      overflow: hidden;
  
      > img {
        width: 100%;
        height: 350px;
      }
      > div {
        position: absolute;
        display: flex;
        bottom: 0;
        transform: translate(-50%);
        left: 50%;
        width: var(--container-width);
        color: white;
        text-shadow: 2px 2px 1px #333;
      }
    }
    > .nav {
      width: var(--container-width);
      position: relative;
      transform: translate(-50%);
      left: 50%;
      margin: 20px 0;
      overflow: auto;
      color: #aaa;
      font-size: 14px;
    }
    > .container {
      width: var(--container-width);
      position: relative;
      transform: translate(-50%);
      left: 50%;
      margin: 20px 0;
      overflow: auto;
  
      p{
        padding: 0 10px;
      }
  
      
      > div:first-child {
        h2 {
          color: var(--color-primary);
        }
        h3 {
          color: var(--color-primary);
        }
      }
     
    }
  }