#footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    >div{
        margin:auto
        >a{
            color: white;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}